<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css"  href="static/styles.css">
    <style>
        body{
            background-image:url('img.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100% ;
        }
    </style>
</head>
<body>
	<header>
		<div class="container">
		<div id="brandname">
			<h1><center>Spam Detector</h1></center>
		</div>
		<h2><center>Spam Detector For Email Messages</h2></center>
		<br><br>
	</div>
	</header>
	<div class="ml-container">
		<form action="/C:\Users\BALAJI\Desktop\project\result.html" method="POST"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p><center ><h1>Enter Your Message/Mail Here which you want to predict Spam or not</h1> </p>
		<textarea name="message" rows="6" cols="80" placeholder="Enter Your Message..." ></textarea>
		<br/>
		<input type="Submit" class="btn-info" value="Predict">
	</form>
	</div>
</body>
	<footer class="footer">
    <div class="footerContainer">
        <p class="copyright"></p>
    </div>
</html>
